@page "/AddAnnoncePage"
@using Core
@using MiniProjekt.Service
@using Core
@inject NavigationManager nav
@inject ILoginService mLogin
@inject IAnnonceService mAnnonce
<h1>Tilføj Annonce</h1>

<EditForm EditContext="@editContext" OnSubmit="@HandleSubmit" class="row p-3">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="col-md-12 mb-3">
        <label for="Name">Title</label>
        <InputText id="Name" @bind-Value="aAnnonce.Title" class="form-control" />
    </div>

    <div class="col-md-6 mb-3">
        <label for="Price">Price</label>
        <InputNumber id="Price" @bind-Value="aAnnonce.Price" class="form-control" />
    </div>

    <div class="col-md-12 mb-3">
        <label for="Description">Description</label>
        <InputTextArea id="Description" @bind-Value="aAnnonce.Description" class="form-control" />
    </div>

    <div class="col-md-6 mb-3">
        <label for="Category">Category</label>
        <InputSelect id="Category" @bind-Value="aAnnonce.Category" class="form-control">
            @foreach (var anOption in options)
            {
                <option value="@anOption">@anOption</option>
            }
        </InputSelect>
    </div>

    <div class="col-md-6 mb-3">
        <label for="Locations">Location</label>
        <InputSelect id="Locations" @bind-Value="aAnnonce.Locations" class="form-control">
            @foreach (var location in locations)
            {
                <option value="@location">@location</option>
            }
        </InputSelect>
    </div>
    
    <div class="col-12 mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

    <button class="btn btn-secondary" @onclick="NavigateToMineAnnoncerPage">Go Back</button>
</EditForm>

@code {
    private Annonce aAnnonce = new() { Category = ""};
    private string[] options = { "Tøj", "Elektronik", "Bolig"};
    private string[] locations = {"A1","B1","C1"};
    private EditContext editContext; 

    protected override void OnInitialized()
    {
        editContext = new EditContext(aAnnonce);
    }

    private async Task HandleSubmit()
    {
        if (!editContext.Validate()) 
        {
            return; 
        }

        User? currentUser = await mLogin.GetUserLoggedIn();
        aAnnonce.SellerId = currentUser.Id;
        await mAnnonce.Add(aAnnonce);
        
        nav.NavigateTo("/MineAnnoncer");
    }

    private void NavigateToMineAnnoncerPage()
    {
        nav.NavigateTo("/MineAnnoncer");
    }
}