@page "/MineAnnoncer"
@using Core
@using MiniProjekt.Service
@inject IAnnonceService mService
@inject NavigationManager nav
<h3>Mine Annoncer</h3>

@if (annoncer == null)
{
    <p><em>Loading...</em></p>
}
else if (annoncer.Length == 0)
{
    <p>Ingen annoncer fundet.</p>
    <button class="btn-primary" @onclick="NavigateToAddAnnoncePage">Tilføj Annonce</button>
}
else
{
    <table class="table">

        <tbody>
        @foreach (var annonce in annoncer)
        {
            <tr class="bikeRow">
                <td><h2>@annonce.Title - @annonce.Category</h2><br />
                    Price: @annonce.Price kr.</td>
                <td>Description: @annonce.Description</td>
                <td>Status: @annonce.Status</td>
                <td><button class="btn-primary" @onclick="() => DeleteById(annonce)">Delete</button></td>
            </tr>
        }
        </tbody>
    </table>
    <button class="btn-primary" @onclick="NavigateToAddAnnoncePage">Tilføj Annonce</button>
}




@code {

    private Annonce[]? annoncer;
        
    protected override async Task OnInitializedAsync()
    {
        await LoadAll();
    }

    private async Task LoadAll()
    {
        annoncer = await mService.GetAll();
    }
    
    private async Task DeleteById(Annonce annonce)
    {
        await mService.DeleteById(annonce.Id);
        await LoadAll();
    }
    
    private void NavigateToAddAnnoncePage()
    {
        nav.NavigateTo("/AddAnnoncePage");
    }
}