@page "/MineAnnoncer"
@using Core
@using MiniProjekt.Service
@inject IAnnonceService mService
@inject NavigationManager nav
@inject ILoginService mLogin
<h3>Mine Annoncer</h3>

@if (annoncer == null)
{
    <p><em>Loading...</em></p>
}
else if (annoncer.Length == 0)
{
    <p>Ingen annoncer fundet.</p>
    <button class="btn-primary" @onclick="NavigateToAddAnnoncePage">Tilføj Annonce</button>
}
else
{
    <table class="table">

        <tbody>
        @foreach (var annonce in annoncer)
        {
            <tr class="bikeRow">
                <td><h2>@annonce.Title - @annonce.Category</h2><br />
                    Price: @annonce.Price kr.</td>
                <td>Description: @annonce.Description</td>
                <td>Status: @annonce.Status</td>
                <td>Location: @annonce.Locations</td>
                <td><button class="btn-primary" @onclick="() => EditAnnonce(annonce)">Rediger</button></td>
                <td><button class="btn-primary" @onclick="() => DeleteById(annonce)">Slet</button></td>
            </tr>
        }
        </tbody>
    </table>
    <button class="btn-primary" @onclick="NavigateToAddAnnoncePage">Tilføj Annonce</button>
}

@code {

    private Annonce[]? annoncer;

    protected override async Task OnInitializedAsync()
    {
        User? currentUser = await mLogin.GetUserLoggedIn();
        if (currentUser == null)
            nav.NavigateTo("/login");
        await LoadAll();
    }

    private async Task LoadAll()
    {
        User? currentUser = await mLogin.GetUserLoggedIn();

        annoncer = await mService.GetAll();
        annoncer = annoncer.Where(a => a.SellerId == currentUser!.Id && a.Status != "Solgt").ToArray();
    }

    private async Task DeleteById(Annonce annonce)
    {
        await mService.DeleteById(annonce.Id);
        await LoadAll();
    }

    private void NavigateToAddAnnoncePage()
    {
        nav.NavigateTo("/AddAnnoncePage");
    }

    private void EditAnnonce(Annonce annonce)
    {
        nav.NavigateTo($"/EditAnnoncePage/{annonce.Id}");
    }
    
}
